<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="AI_model_lidar">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.044297 0.00089772 0.020916"
        rpy="0 0 0" />
      <mass
        value="1.2869" />
      <inertia
        ixx="0.012888"
        ixy="1.8137E-05"
        ixz="1.5271E-06"
        iyy="0.019288"
        iyz="3.1056E-14"
        izz="0.031686" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AI_model_lidar/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AI_model_lidar/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="-0.000129776012642958 0.00519224779684564 0.000607721515911763"
        rpy="0 0 0" />
      <mass
        value="0.006763858341858" />
      <inertia
        ixx="3.11806121005854E-06"
        ixy="3.87813986757437E-09"
        ixz="-2.60795468830545E-08"
        iyy="5.5977170101729E-06"
        iyz="-2.52823636178419E-08"
        izz="3.01387605297088E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AI_model_lidar/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.43921568627451 0.43921568627451 0.43921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AI_model_lidar/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="chassis_imu_link">
    <inertial>
      <origin
        xyz="0 0 0.0"
        rpy="0 0 0" />
      <mass
        value="0.006763858341858" />
      <inertia
        ixx="3.11806121005854E-06"
        ixy="3.87813986757437E-09"
        ixz="-2.60795468830545E-08"
        iyy="5.5977170101729E-06"
        iyz="-2.52823636178419E-08"
        izz="3.01387605297088E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AI_model_lidar/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.43921568627451 0.43921568627451 0.43921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AI_model_lidar/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="-0.013308 -0.10685 -0.0825"
      rpy="3.14159 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="0 -0.1255 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="chassis_imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>